<div class="layui-fluid">
    <!--    表单令牌,防止重复提交-->
    <meta name="csrf-token" content="{:token()}">
    <form class="layui-form" action="" lay-filter="component-form-group">


        <div class="layui-form-item">
            <div class="layui-inline" style="display: none">
                <label class="layui-form-label">客户ID</label>
                <div class="layui-input-inline">
                    <input type="text" value='{$customer.id}' name="id" lay-verify="required"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">客户名称</label>
                <div class="layui-input-inline">
                    <input type="text" value='{$customer.customer_name}' name="customer_name" lay-verify="required"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-inline">
                    <input type="text" value='{$customer.customer_address}' name="customer_address" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="tel" name="phone" value='{$customer.phone}' lay-verify="phone" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-inline">
                    <input name="contacts" value='{$customer.contacts}' class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开票资料</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="test1">
                        <i class="layui-icon">&#xe67c;</i>上传附件
                    </button>
                    <i id="file_name">{$customer.ticket_data}</i>
                    <input type="text" value='{$customer.ticket_data}' id="ticket_data" name="ticket_data"
                        style="display: none">
                </div>
            </div>
        </div>

  



        <div class="layui-form-item">
            <div class="layui-input-block">
                <div class="layui-footer">
                    <button class="layui-btn" lay-submit="" lay-filter="component-form-customer">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>

</div>

<script>


    layui.use(['jquery', 'form', 'element', 'upload', 'table'], function () {

        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        var $ = layui.$;

        form.on('submit(component-form-customer)', function (data) {
            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            $.ajax({
                url: '{:url("/admin/customer/addOrEditCustomer")}',
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                type: 'post',
                data: data.field,
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg('成功!', {
                            icon: 6,
                            time: 1000,
                            shade: 0.3,
                            end: function () {
                                // layer自关闭
                                //当你在iframe页面关闭自身时
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭 
                            }
                        });
                    } else {
                        layer.msg(result.msg);
                    }

                },
                error: function () {
                    layer.msg('系统错误');
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        // layui upload组件上传时,多次选择文件重复上传解决： https://blog.csdn.net/u014598014/article/details/90559211
        let UPLOAD_FILES;
        let Loading_Index;
        var uploadInst = upload.render({
            elem: '#test1',  //绑定元素
            url: '{:url("/upload")}',  //上传接口
            auto: true, //自动上传
            accept: 'file',
            multiple: false, //是否允许多文件上传
            before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                Loading_Index =  layer.load(2); //上传loading
            },
            choose: function (obj) {
                // 将每次选择的文件追加到文件队列
                UPLOAD_FILES = obj.pushFile();
                // console.log(UPLOAD_FILES)
                var property = "";
                for (var item in obj) {
                    property += "属性：" + item + "数值：" + obj[item] + "\n";
                }
                console.log(property)
                obj.preview(function (index, file, result) {
                    // 重命名文件名
                    // obj.resetFile(index, file, '123.jpg');
                    $("#file_name").html(file.name)
                })
            },
            done: function (res, index, upload) { // res（服务端响应信息）、index（当前文件的索引）、upload（重新上传的方法，一般在文件上传失败后使用）
                //上传完毕回调
                console.log(res)
                $("#ticket_data").val(res.data)
                //删除数组文件中上传成功的图片，防止重复上传（重点）
                delete UPLOAD_FILES[index]
                layer.close(Loading_Index); //关闭loading

            },
            error: function (index, upload) {
                //删除数组文件中上传成功的图片，防止重复上传（重点）
                delete UPLOAD_FILES[index]
                //当上传失败时，你可以生成一个“重新上传”的按钮，点击该按钮时，执行 upload() 方法即可实现重新上传
                layer.close(Loading_Index); //关闭loading
                //请求异常回调
                layer.alert('上传附件失败!')
            }
        });
    })
</script>