<body>
    <div class="layui-fluid">
        <div class="layui-card">

            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">客户姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="customer_name" placeholder="请输入" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="customer-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <table id="customer_table" lay-filter="customer_table"></table>
            </div>

        </div>
    </div>



    <script>



        layui.use(['jquery', 'form', 'element', 'table'], function () {
            var table = layui.table;
            var form = layui.form;
            // 选中状态(checkStatus.data //获取选中行的数据,checkStatus.data.length//获取选中行数量，可作为是否有选中行的条件 checkStatus.isAll //表格是否全选)
            var checkStatus = table.checkStatus('sys_user_table');

            //监听搜索
            form.on('submit(customer-search)', function (data) {
                var field = data.field;
                console.log(field)
                //执行重载
                table.reload('customer_table', {
                    where: field
                });
            });

            table.render({
                url: '{:url("/admin/customer/list")}',
                elem: '#customer_table',//指定原始表格元素选择器（推荐id选择器）
                toolbar: 'default',
                method: 'POST',
                height: 315, //容器高度
                cols: [[                            //设置表头
                    { field: 'id', title: 'ID', type: 'checkbox', },
                    { field: 'customer_name', title: '客户姓名', align: "center", },
                    { field: 'customer_address', title: '客户地址', align: "center", },
                    { field: 'phone', title: '电话', align: "center", },
                    { field: 'contacts', title: '联系人', align: "center", },
                    { field: 'recipient_company', title: '收货单位名称', align: "center", },
                    { field: 'recipient_address', title: '收货地址', align: "center", },
                    { field: 'recipient_phone', title: '收货电话', align: "center", },
                    { field: 'recipient', title: '收货人', align: "center", },
                    { field: 'ticket_address', title: '收票地址', align: "center", },
                    { field: 'ticket_phone', title: '收票电话', align: "center", },
                    { field: 'ticket', title: '收票人', align: "center", },
                    {
                        field: 'data', title: '附件', align: "center", templet: function (d) {
                            return '<div><a onclick="window.download(\'' + d.ticket_data + '\')" class="layui-table-link" >下载</a></div>'
                        }
                    },
                    { field: 'update_time', title: '更新时间', align: "center", },
                    { field: 'contacts', title: '联系人', align: "center", },
                ]],
                page: true,
                height: "full-150", //其中150 为距离底部的距离
                title: '客户信息数据表',
                text: "对不起，加载出现异常！"

            });
            //监听事件toolbar(table元素的id属性值lay-filter="对应的值")
            table.on('toolbar(customer_table)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':   //添加操作
                        layer.open({
                            type: 2,
                            area: ['100rem', '50%'],
                            title: '添加客户信息',
                            closeBtn: 1,
                            anim: 1,
                            shadeClose: false,
                            skin: 'yourclass',
                            content: '/admin/customer/addOrEditCustomerIndex',
                            success: function (layero, index) {
                                layer.iframeAuto(index);
                            },

                            end: function (index) {  //弹出框的索引
                                table.reload("customer_table", { where: {}, page: { curr: 1 } })
                            }
                        });
                        break;
                    case 'delete':
                        layer.msg('删除');
                        break;
                    case 'update':
                        if (checkStatus.data.length == 1) {
                            layer.open({
                                type: 2,
                                area: ['25rem', '25rem'],
                                title: '编辑客户信息',
                                closeBtn: 1,
                                anim: 1,
                                shadeClose: false,
                                skin: 'yourclass',
                                content: '/admin/customer/addOrEditCustomerIndex/' + checkStatus.data[0].id,
                                end: function (index) {  //弹出框的索引
                                    table.reload("sys_user_table", { where: {}, page: { curr: 1 } })
                                }
                            })
                        } else {
                            layer.msg('请选择一行作为编辑对象!');
                        }
                        break;
                };
            });

            //事件
            var active = {
                batchdel: function () {
                    var checkStatus = table.checkStatus('customer_table')
                        , checkData = checkStatus.data; //得到选中的数据

                    if (checkData.length === 0) {
                        return layer.msg('请选择数据');
                    }

                    layer.prompt({
                        formType: 1
                        , title: '敏感操作，请验证口令'
                    }, function (value, index) {
                        layer.close(index);

                        layer.confirm('确定删除吗？', function (index) {

                            //执行 Ajax 后重载
                            /*
                            admin.req({
                              url: 'xxx'
                              //,……
                            });
                            */
                            table.reload('customer_table');
                            layer.msg('已删除');
                        });
                    });
                }
                , add: function () {
                    layer.open({
                        type: 2
                        , title: '添加管理员'
                        , content: 'adminform.html'
                        , area: ['420px', '420px']
                        , btn: ['确定', '取消']
                        , yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submitID = 'LAY-user-back-submit'
                                , submit = layero.find('iframe').contents().find('#' + submitID);

                            //监听提交
                            iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                                var field = data.field; //获取提交的字段

                                //提交 Ajax 成功后，静态更新表格中的数据
                                //$.ajax({});
                                table.reload('LAY-user-front-submit'); //数据刷新
                                layer.close(index); //关闭弹层
                            });

                            submit.trigger('click');
                        }
                    });
                }
            }





        })

        /**
        * 下载方法(不跳转下载) ,layui调用自定方法.需要使用 window.自定义方法名
        */
        function download(url) {
            // 添加一个a标签
            let ele = document.createElement('a')
            // 给a标签加入下载地址
            ele.download = "../dot9tools.zip"
            // 隐藏a标签
            ele.style.display = 'none'
            // 给a标签加入地址
            ele.href = url
            // 规定在当前页面打开
            ele.target = "_blank"
            // 把元素加入到页面中
            document.body.appendChild(ele);
            // 触发它的点击事件
            ele.click();
            // 移除元素
            document.body.removeChild(ele);

        }
    </script>


</body>