<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Mr.Rainbow·登陆</title>
    <link rel="stylesheet" href="{__STATIC_PATH}/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="{__STATIC_PATH}/css/admin.css" media="all">
    <!-- Jquery Js -->
    <script type="text/javascript" src="{__STATIC_PATH}/js/lib/jquery.min.js"></script>
    <!-- Layui Js -->
    <script type="text/javascript" src="{__STATIC_PATH}/layui/layui.js"></script>
    <!-- Jqarticle Js -->
    <script type="text/javascript" src="{__STATIC_PATH}/js/lib/jparticle.min.js"></script>
    <!-- ZylVerificationCode Js-->
    <script type="text/javascript" src="{__STATIC_PATH}/js/lib/zylVerificationCode.js"></script>

</head>
<!-- ???? -->
{__CONTENT__}


</html>