<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" href="{__STATIC_PATH}/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="{__STATIC_PATH}/css/admin.css" media="all">
    <!-- Jquery Js -->
    <script type="text/javascript" src="{__STATIC_PATH}/js/lib/jquery.min.js"></script>
    <!-- Layui Js -->
    <script type="text/javascript" src="{__STATIC_PATH}/layui/layui.js"></script>


</head>
<!-- 主体内容 -->
{__CONTENT__}


<script type="text/javascript">
    // 解决iframe重定向,在子页面打开问题(如果是login页面才进行)
    if (window != top && location.pathname.indexOf('login') != -1) {
        // console.log(location.pathname)
        top.location.href = location.origin + location.pathname;
    }

</script>

</html>