<body>
    <div class="layui-fluid">
        <div class="layui-tab layui-tab-card" lay-filter="order_detail_tab">
            <ul class="layui-tab-title">
                <li class="layui-this">订单信息</li>
                <li>商品信息</li>
                <li>客户信息</li>
                <li>导出</li>
            </ul>
            <div class="layui-tab-content">

                <!-- 订单信息 -->
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" id="order_table">
                        <tbody>
                            <tr>
                                <td>订单编号</td>
                                <td>{$orderInfo.order_number}</td>
                            </tr>
                            <tr>
                                <td>发货日期</td>
                                <td>{$orderInfo.send_date}</td>
                            </tr>
                            <tr>
                                <td>检验报告</td>
                                <td>{$orderInfo.inspection_report}</td>
                            </tr>
                            <tr>
                                <td>承运物流</td>
                                <td>{$orderInfo.logistics}</td>
                            </tr>
                            <tr>
                                <td>发货单号</td>
                                <td>{$orderInfo.send_number}</td>
                            </tr>
                            <tr>
                                <td>收货确认</td>
                                <td>{$orderInfo.rceceipt_confirm}</td>
                            </tr>
                            <tr>
                                <td>收货日期</td>
                                <td>{$orderInfo.rceceipt_date}</td>
                            </tr>
                            <tr>
                                <td>开票日期</td>
                                <td>{$orderInfo.invoice_date}</td>
                            </tr>
                            <tr>
                                <td>发票代码</td>
                                <td>{$orderInfo.invoice_code}</td>
                            </tr>
                            <tr>
                                <td>发票是否随货</td>
                                <td>{$orderInfo.invoice_follow}</td>
                            </tr>
                            <tr>
                                <td>快递公司</td>
                                <td>{$orderInfo.express}</td>
                            </tr>
                            <tr>
                                <td>快递单号</td>
                                <td>{$orderInfo.express_number}</td>
                            </tr>
                            <tr>
                                <td>收票确认</td>
                                <td>{$orderInfo.ticket_confirm}</td>
                            </tr>
                            <tr>
                                <td>安装验收</td>
                                <td>{$orderInfo.acceptance}</td>
                            </tr>
                            <tr>
                                <td>余款追讨</td>
                                <td>{$orderInfo.recovery_of_balance}</td>
                            </tr>
                            <tr>
                                <td>创建时间</td>
                                <td>{$orderInfo.create_time}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <!-- 产品信息 -->
                <div class="layui-tab-item" id="product_item">

                </div>

                <!-- 客户信息 -->
                <div class="layui-tab-item">

                    <table class="layui-table" id="customer_table">
                        <tbody>
                            <tr>
                                <td>客户姓名</td>
                                <td>{$customerInfo.customer_name}</td>
                            </tr>
                            <tr>
                                <td>客户地址</td>
                                <td>{$customerInfo.customer_address}</td>
                            </tr>
                            <tr>
                                <td>电话</td>
                                <td>{$customerInfo.phone}</td>
                            </tr>
                            <tr>
                                <td>联系人</td>
                                <td>{$customerInfo.contacts}</td>
                            </tr>
                            <tr>
                                <td>附件</td>
                                {assign name="url" value='$customerInfo.ticket_data' /}
                                {empty name="url"}
                                <td>该用户未上传附件</td>
                                {else/}
                                <td class="layui-table-cell">
                                    <div><a style="cursor:pointer" onclick='window.download("{$url}")'
                                            class="layui-table-link">下载</a></div>
                                </td>
                                {/empty}
                            </tr>

                            <tr>
                                <td>收货单位名称</td>
                                <td>{{d.recipient_company||""}}</td>
                            </tr>
                            <tr>
                                <td>收货人</td>
                                <td>{{d.recipient||""}}</td>
                            </tr>
                            <tr>
                                <td>收货电话</td>
                                <td>{{d.recipient_phone||""}}</td>
                            </tr>
                            <tr>
                                <td>收货地址</td>
                                <td>{{d.recipient_address||""}}</td>
                            </tr>
                            <tr>
                                <td>收票人</td>
                                <td>{{d.ticket||""}}</td>
                            </tr>
                            <tr>
                                <td>收票电话</td>
                                <td>{{d.ticket_phone||""}}</td>
                            </tr>
                            <tr>
                                <td>收票地址</td>
                                <td>{{d.ticket_address||""}}</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="{__STATIC_PATH}/js/excel.js"></script>
<!-- 产品信息模板 -->
<script id="product_tpl" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
    <table class="layui-table" class="product_table">
        <tbody >
            <tr> <td>产品编号</td>   <td>{{item.product_number}}</td> </tr>
            <tr> <td>产品名称</td>   <td>{{item.product_name}}</td> </tr>
            <tr> <td>规格</td>   <td>{{item.product_specs}}</td> </tr>
            <tr> <td>型号</td>   <td>{{item.product_model}}</td> </tr>
            <tr> <td>特殊要求</td>   <td>{{item.special_request}}</td> </tr>
            <tr> <td>更新时间</td>   <td>{{item.update_time}}</td> </tr>
        </tbody>
    </table>
    {{#  }) }} 
  </script>

<!-- 产品信息数据 -->
<script id="product_data" type="text/html">
    {foreach $orderDetailList as $key=>$orderDetail}
    <article>{$orderDetail.product_info|raw}</article>
    {/foreach}
</script>

<!-- 收货信息数据 -->
<script id="recevie_data" type="text/html">
   <i>{$orderDetailList.0.receive_info}</i>
</script>

<script>

    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use(['element', 'laytpl', 'jquery'], function () {
        var element = layui.element;
        var laytpl = layui.laytpl;

        var order_number = '{$orderInfo.order_number}'

        // 客户信息映射
        var receive_html = document.getElementById('recevie_data').innerHTML;
        // 打印出的html不带script标签
        // console.log(receive_html)

        var receiveInfoStr = $(receive_html).text();
        // 将json字符串转成json对象
        receiveInfo = $.parseJSON(receiveInfoStr)
        // console.log(receiveInfo)

        var customerTpl = $("#customer_table").html()
            , customerview = document.getElementById('customer_table');
        laytpl(customerTpl).render(receiveInfo, function (html) {
            customerview.innerHTML = html;
            // console.log(html)
        });


        // 产品信息映射
        var productInfoList = [];
        var product_data_html = document.getElementById('product_data').innerHTML;
        // console.log(product_data_html)
        $(product_data_html).each(function (index, item) {
            if (item.nodeType == 3) {
                // 此处发现在遍历Dom元素时,出现了空白节点(打印其Dom展示的是#text,经查阅其是文本节点),因此需要过滤掉
                // https://www.w3school.com.cn/jsref/prop_node_nodetype.asp
                // https://my.oschina.net/Cubicluo/blog/680676
                // https://www.cnblogs.com/LO-ME/p/4587496.html
                // https://zhidao.baidu.com/question/444809254.html
                console.log(item)
                console.log(item.nodeType)

                //跳过当前循环，继续执行下一次循环
                return true;
            }
            let productInfoStr = $(item).text()
            itemJson = JSON.parse(productInfoStr)
            // console.log(itemJson)
            productInfoList.push(itemJson)
        })
        productInfoListJson = JSON.stringify(productInfoList)
        console.log(productInfoListJson)
        var productTpl = $("#product_tpl").html()
            , productView = document.getElementById('product_item');
        laytpl(productTpl).render(JSON.parse(productInfoListJson), function (html) {
            productView.innerHTML = html;
            // console.log(html)
        });


        //监听Tab切换，以改变地址hash值
        element.on('tab(order_detail_tab)', function (data) {
            // location.hash = 'test1=' + this.getAttribute('lay-id');
            index = data.index; //得到当前Tab的所在下标
            // console.log(index);
            if (index == 3) {
                var tableMap = new Map();
                tableMap.set('订单信息', 'order_table');
                // tableMap.set('商品信息', 'product_table');
                // tableMap.set('客户信息', 'customer_table');
                window.tableToExcel(tableMap, dateToString(new Date) + "_" + order_number)
            }

        });

    });

    function dateToString(date) {
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString();
        var day = (date.getDate()).toString();
        if (month.length == 1) {
            month = "0" + month;
        }
        if (day.length == 1) {
            day = "0" + day;
        }
        var dateTime = year + "-" + month + "-" + day;
        return dateTime;
    }

    /**
     * 下载方法(不跳转下载) ,layui调用自定方法.需要使用 window.自定义方法名
     */
    function download(url) {
        // 添加一个a标签
        let ele = document.createElement('a')
        // 设置下载后的文件名
        ele.download = url.substr(url.lastIndexOf('/') + 1)
        // 隐藏a标签
        ele.style.display = 'none'
        // 给a标签加入地址
        ele.href = url
        // 规定在当前页面打开
        ele.target = "_blank"
        // 把元素加入到页面中
        document.body.appendChild(ele);
        // 触发它的点击事件
        ele.click();
        // 移除元素
        document.body.removeChild(ele);
    }

</script>