<body>
  <div class="layui-fluid">
    <div class="layui-card">

      <div class="layui-form layui-card-header layuiadmin-card-header-auto">

        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">产品编号</label>
            <div class="layui-input-block">
              <input type="text" name="product_number" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">产品名称</label>
            <div class="layui-input-block">
              <input type="text" name="product_name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="product-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>

      </div>

      <div class="layui-card-body">
        <table id="product_table" lay-filter="product_table"></table>
      </div>
    </div>
  </div>



  <script>
    layui.use(['jquery', 'form', 'element', 'table'], function () {
      var table = layui.table;
      var form = layui.form;

      //监听搜索
      form.on('submit(product-search)', function (data) {
        var field = data.field;
        console.log("点击搜索按钮")
        console.log(field)
        //执行重载
        table.reload('product_table', {
          where: field
        });
      });

      table.render({
        url: '{:url("/admin/product/list")}',
        elem: '#product_table',//指定原始表格元素选择器（推荐id选择器）
        toolbar: 'default',
        even: true, //开启隔行背景
        method: 'POST',
        height: 315, //容器高度
        cols: [[                            //设置表头
          { field: 'id', title: 'ID', type: 'checkbox', },
          { field: 'product_number', title: '产品编号', align: "center", },
          { field: 'product_name', title: '产品名称', align: "center", },
          { field: 'product_specs', title: '规格', align: "center", },
          { field: 'product_model', title: '型号', align: "center", },
          { field: 'special_request', title: '特殊要求', align: "center", },
          { field: 'update_time', title: '更新时间', align: "center", },
        ]],
        page: true,
        height: "full-150", //其中150 为距离底部的距离
        title: '产品信息表',
        text: {
          none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
        }

      });
      //监听事件toolbar(table元素的id属性值lay-filter="对应的值")
      table.on('toolbar(product_table)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        console.log(`当前事件：${obj.event}`);
        switch (obj.event) {

          case 'add':   //添加操作
            layer.open({
              type: 2,
              area: ['35rem', '25rem'],
              title: '添加产品信息',
              closeBtn: 1,
              anim: 1,
              shadeClose: false,
              skin: 'yourclass',
              content: '/admin/product/addOrEditProductIndex',
              end: function (index) {  //弹出框的索引
                table.reload("product_table", { where: {}, page: { curr: 1 } })
              }
            });
            break;
          case 'delete':
            let idList = []
            checkStatus.data.forEach(element => {
              idList.push(element.id)
            });
            layer.confirm('确定要删除吗？', {
              title: '警告',
              skin: '',
              icon: 3,
              btn: ['确定', '取消'] //按钮
            }, function () {
              // 关闭layer.confirm()弹窗,layer.confirm()弹窗的关闭与layer.open()不太一样
              layer.close(layer.index)
              var loading = layer.load(1, {
                shade: [0.1, '#fff'] //0.1透明度的白色背景
              });
              $.ajax({
                url: '{:url("/admin/product/delete/")}' + idList.join('_'),
                type: 'get',
                success: function (result) {
                  if (result.code == 0) {
                    layer.close(loading);
                    table.reload("product_table", { where: {}, page: { curr: 1 } })
                  } else {
                    layer.close(loading);
                    layer.msg(result.msg);
                  }
                },
                error: function () {
                  layer.close(loading);
                  layer.msg('系统错误');
                }
              });

            }, function () {
              // layer.msg('已取消');
            });
            break;
          case 'update':
            if (checkStatus.data.length == 1) {
              layer.open({
                type: 2,
                area: ['25rem', '25rem'],
                title: '编辑产品信息',
                closeBtn: 1,
                anim: 1,
                shadeClose: false,
                skin: 'yourclass',
                content: '/admin/product/addOrEditProductIndex/' + checkStatus.data[0].id,
                end: function (index) {  //弹出框的索引
                  table.reload("sys_user_table", { where: {}, page: { curr: 1 } })
                }
              })
            } else {
              layer.msg('请选择一行作为编辑对象!');
            }
            break;
          case 'LAYTABLE_EXPORT': //导出事件
            $.post('{:url("/admin/product/export")}', {},
              function (res) {
                // 1. 数组头部新增表头
                res.data.unshift({
                   'product_number':'产品编号',
                   'product_name':'产品名称',
                   'product_specs':'规格',
                   'product_model':'型号',
                   'special_request':'特殊要求',
                   'update_time':'更新时间',
                });
                // 2. 如果需要调整顺序，请执行梳理函数
                var data = LAY_EXCEL.filterExportData(res.data, [
                  'product_number',
                  'product_name',
                  'product_specs',
                  'product_model',
                  'special_request',
                  'update_time',
                ]);
                // 3. 执行导出函数，系统会弹出弹框
                LAY_EXCEL.exportExcel(data, '产品列表.xlsx', 'xlsx')
              }, "json");

            break;
        };
      });

      //事件
      var active = {
        batchdel: function () {
          var checkStatus = table.checkStatus('product_table')
            , checkData = checkStatus.data; //得到选中的数据

          if (checkData.length === 0) {
            return layer.msg('请选择数据');
          }

          layer.prompt({
            formType: 1
            , title: '敏感操作，请验证口令'
          }, function (value, index) {
            layer.close(index);

            layer.confirm('确定删除吗？', function (index) {

              //执行 Ajax 后重载
              /*
              admin.req({
                url: 'xxx'
                //,……
              });
              */
              table.reload('product_table');
              layer.msg('已删除');
            });
          });
        }
        , add: function () {
          layer.open({
            type: 2
            , title: '添加管理员'
            , content: 'adminform.html'
            , area: ['420px', '420px']
            , btn: ['确定', '取消']
            , yes: function (index, layero) {
              var iframeWindow = window['layui-layer-iframe' + index]
                , submitID = 'LAY-user-back-submit'
                , submit = layero.find('iframe').contents().find('#' + submitID);

              //监听提交
              iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                var field = data.field; //获取提交的字段

                //提交 Ajax 成功后，静态更新表格中的数据
                //$.ajax({});
                table.reload('LAY-user-front-submit'); //数据刷新
                layer.close(index); //关闭弹层
              });

              submit.trigger('click');
            }
          });
        }
      }



    })
  </script>
</body>