<div class="layui-fluid">


  <form class="layui-form" action="" lay-filter="component-form-group">

    <div class="layui-form-item" style="display: none">
      <label class="layui-form-label">ID</label>
      <div class="layui-input-inline">
        <input type="text" value='{$productInfo.id}' name="id" lay-verify="id" autocomplete="off" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">产品编号</label>
        <div class="layui-input-inline">
          <input type="text" name="product_number" value='{$productInfo.product_number}' {$productInfo.product_number == ''?'':'disabled class="layui-input layui-disabled"'} lay-verify="required"
            autocomplete="off" class="layui-input">
        </div>
      </div>

</div>

<div class="layui-form-item">

  <div class="layui-inline">
    <label class="layui-form-label">产品名称</label>
    <div class="layui-input-inline">
      <input type="text" name="product_name" value='{$productInfo.product_name}' lay-verify="required"
        autocomplete="off" class="layui-input" >
    </div>
  </div>
</div>

<div class="layui-form-item">
  <div class="layui-inline">
    <label class="layui-form-label">规格型号</label>
    <div class="layui-input-inline">
      <input type="text" name="product_model" value='{$productInfo.product_model}' autocomplete="off"
        class="layui-input" lay-key="2">
    </div>
  </div>
</div>

<div class="layui-form-item layui-form-text">
  <label class="layui-form-label">特殊要求</label>
  <div class="layui-input-block">
    <textarea name="special_request" placeholder="请输入内容"
      class="layui-textarea">{$productInfo.special_request}</textarea>
  </div>
</div>

<div class="layui-form-item">
  <div class="layui-input-block">
    <div class="layui-footer">
      <button class="layui-btn" lay-submit="" lay-filter="component-form-product">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</div>

</form>
</div>
<script>
  layui.use(['jquery', 'form', 'element'], function () {
    var $ = layui.jquery
      , form = layui.form;

    //自定义验证规则
    form.verify({
      user_code: function (value) {
        if (value.length < 5) {
          return '账号至少得5个字符';
        }
      }
      , pass: [/^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格']

    });

    form.on('submit(component-form-product)', function (data) {
      console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
      console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
      console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
      $.ajax({
        url: '{:url("/admin/product/addOrEditProduct")}',
        type: 'post',
        data: data.field,
        success: function (result) {
          if (result.code == 0) {
            layer.msg('成功!', {
              icon: 6,
              time: 1000,
              shade: 0.3,
              end: function () {
                // layer自关闭
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭 
              }
            });
          } else {
            layer.msg(result.msg);
          }

        },
        error: function () {
          layer.msg('系统错误');
        }
      });
      return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
  })
</script>